@media only screen and (max-width: 425px) 
{
#img
{
	height: 100px;
	width: 120px;
}
#col4
{
	padding-top: 5px;
	/*padding-right: 20px;*/
	padding-left: 20px;
}
#txt
{
	margin: 5px;
    width: 575px;
    padding-left: 32px;
    font-size: 32px;}
#row1
{
	display: flex;
    flex-wrap: nowrap;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
}
#myInput
{
	width: 237px;
    height: 42px;
}
#nwe
{
	    padding-left: 68px;
    	padding-top: 7px;
}
#rrow
{
	display: flex;
	flex-wrap: nowrap;
}
}