body{

	min-width: 250px;
}
#first
{
	padding-top: 24px;
	background-color: #f00;
	height: 192px;
	padding-right: 70px;
}
#img
{
	height: 142px;
	width: 236px;
}
#txt
{
	margin: 5px;
	width: 575px;
	padding-left: 124px;
	font-size: 52px;
}
#myInput
{
	width: 500px;
	height: 42px;
}
#btn
{
	width: 126px;
	height: 32px;
	border-radius: 3px;
	color: white;
	background-color: #f00;
	border: solid 3px;
}
#btnn
{
	width: 138px;
	height: 32px;
	border-radius: 3px;
	color: white;
	background-color: #f00;
	border: solid 3px;
}
#btnnn
{
	width: 126px;
	height: 32px;
	border-radius: 3px;
	color: white;
	background-color: #f00;
	border: solid 3px;
}
#nwe
{
	 /*padding-left: 231px; */
	 padding-top: 7px; 
}
#row1
{
	padding-left: 48px;
}
#col4
{
	padding-left: 100px;
}

@media only screen and (max-width: 1024px) 
{
#first
{
	padding-top: 24px;
    background-color: #f00;
    height: 187px;
}
#img
{
	height: 90px;
    width: 150px;
}
#col4
{
	padding-left: 55px;
    padding-top: 24px;
}
#txt
{
	margin: 5px;
    width: 575px;
    padding-left: 99px;
    font-size: 48px;
}
#row1
{
	display: flex;
    flex-wrap: nowrap;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 48px;
}
#myInput
{
	width: 417px;
    height: 42px;
}
#nwe
{
	padding-left: 179px;
    padding-top: 7px;
}
#rrow
{
	display: flex;
	flex-wrap: nowrap;
}
#btn
{
	width: 126px;
    height: 32px;
    border-radius: 3px;
    color: white;
    background-color: #f00;
    border: solid 3px;
}


@media only screen and (max-width: 768px) 
{
#img
{
	height: 100px;
	width: 120px;
}
#col4
{
	padding-top: 5px;
	/*padding-right: 20px;*/
	padding-left: 20px;
}
#txt
{
	margin: 5px;
	width: 575px;
	padding-left: 84px;
	font-size: 32px;
}
#row1
{
	display: flex;
	flex-wrap: nowrap;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 45px;
}
#myInput
{
	width: 267px;
	height: 42px;
}
#nwe
{
	padding-left: 114px;
	padding-top: 7px;
}
#rrow
{
	display: flex;
	flex-wrap: nowrap;
}
@media only screen and (max-width: 600px) 
{
#img
{
	height: 100px;
	width: 120px;
}
#col4
{
	padding-top: 5px;
	/*padding-right: 20px;*/
	padding-left: 20px;
}
#txt
{
	margin: 5px;
	width: 575px;
	padding-left: 84px;
	font-size: 32px;
}
#row1
{
	display: flex;
	flex-wrap: nowrap;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 45px;
}
#myInput
{
	width: 267px;
	height: 42px;
}
#nwe
{
	padding-left: 114px;
	padding-top: 7px;
}
#rrow
{
	display: flex;
	flex-wrap: nowrap;
}


@media only screen and (max-width: 320px) 
{
#first
{
	padding-top: 24px;
    background-color: #f00;
    height: 147px;
}
#img
{
	height: 55px;
    width: 60px;
}
#col4
{
	padding-top: 26px;
    padding-left: 14px;
}
#txt
{
	margin: 5px;
    /* width: 575px; */
    padding-left: 42px;
    font-size: 22px;
}
#row1
{
	display: flex;
    flex-wrap: nowrap;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 20px;}
#myInput
{
	width: 150px;
    height: 32px;
}
#nwe
{
	padding-left: 57px;
    padding-top: 7px;
}
#rrow
{
	display: flex;
	flex-wrap: nowrap;
}
#btn
{
	    width: 91px;
    height: 32px;
    border-radius: 3px;
    color: white;
    background-color: #f00;
    border: solid 3px;
}
}
}
}
}


/*
#ulid
{
	display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

#elementid{
	width: 212px;
height: 162px;
padding-top: 72px;
padding-left: 47px;
background-color: #e74c3c;
border: 4px solid #f00;
}*/