@media only screen and (max-width: 768px) 
{
#img
{
	height: 100px;
    width: 110px;
}
#col4
{
	padding-top: 30px;
    padding-left: 45px;
}
#txt
{
	margin: 5px;
    width: 575px;
    padding-left: 87px;
    font-size: 48px;
}
#row1
{
	display: flex;
    flex-wrap: nowrap;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 30px;
}
#myInput
{
	width: 413px;
    height: 42px;
}
#nwe
{
	    padding-left: 172px;
    	padding-top: 7px;
}
#rrow
{
	display: flex;
	flex-wrap: nowrap;
}
}